@font-face {
    font-family: ADDSBP__;
    src: url(assets/ADDSBP__.TTF);
}

a{
    text-decoration: none;
    color: inherit;
    cursor: url(../assets/cursor.cur), default !important;
}

a:visited{
    color: inherit;
    text-decoration: none;
    cursor: url(../assets/cursor.cur), default !important;
}

a:hover{
    text-decoration: underline dashed;
    cursor: url(../assets/cursor.cur), default !important;
}

html{
    cursor: url(assets/cursor.cur), auto;
    min-height: 100%;
    height: 100%;
}

body {
    background: url(assets/mainBg.png);
    background-color: rgba(34, 34, 34, 0.699);
    background-blend-mode:color-burn;
    color: white;
    font-size: 1.5vw;
    font-family: ADDSBP__;
}

#WIPDiv {
    background: url(assets/warningBg.png);
    background-blend-mode: color-burn;
    background-color: rgba(90, 0, 71, 0.726);
    border: double 3px rgb(56, 17, 22);
    padding: 3vw;
    width: 30vw;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: calc(50% - 15vw);
    transform: translate(0, -50%);
    text-align: center;
}

@keyframes proceed {
    from {color:darkslateblue;}
    to {color:rgb(179, 162, 255);}
}

#ENGAGE:hover {
    animation: proceed 0.35s;
    animation-fill-mode: forwards;
}