.logs{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    text-align: left;
    margin: 100px;
    margin-left: 50px;
}

.styled{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    text-align: center;
}

.bruv{
    margin: 0px;
}

.ST{
    text-decoration: line-through;
}

a:link, a:visited {
    text-decoration: none;
    color: white;
}

.bgimage {
    background-image: url("website-bg.png");
    background-repeat: no-repeat;
    background-size: auto;
    color: #fff;
    text-align: center;
    background-attachment: fixed;
}

.bgimagebottom{
    background-image: url("website-bg-moreblue.png");
    background-repeat: no-repeat;
    background-size: auto;
    color: #fff;
    text-align: center;
    background-attachment: fixed;
}
  
a:link:active, a:visited:active {
color: white;
}

.what{
    padding-top: 75px;
}


.link {
    transition: 0.4s;
    margin: 0%;
}

.link:hover {
    transform: scale(1.1);
    transition: 0.4;
    margin: 0%;
}


.idk {
    margin: 10px auto 20px;
    display: block;
}

.test{
    padding: 10;
}