.logs{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    text-align: left;
    margin: 100px;
    margin-left: 50px;
}

.styled{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    text-align: center;
}


.bgimage{
    background-image: url(website-bg.png);
    background-position: center;
    background-size: cover;
}

.ST{
    text-decoration: line-through;
}

a:link, a:visited {
    text-decoration: none;
    color: white;
}


  
a:link:active, a:visited:active {
color: white;
}

.what{
    padding-top: 75px;
}


.link {
    transition: 0.4s;
    margin: 0%;
}

.link:hover {
    transform: scale(1.1);
    transition: 0.4;
    margin: 0%;
}


.idk {
    margin: 10px auto 20px;
    display: block;
}

.test{
    padding: 10;
}