@font-face {
    font-family: ADDSBP__;
    src: url(../assets/ADDSBP__.TTF);
}

body {
    margin: 0;
    background: url(mainAssets/stars.gif);
    color: white;
    font-size: x-large;
    font-family: ADDSBP__;
}

a{
    text-decoration: none;
    color: inherit;
}

a:visited{
    color: inherit;
    text-decoration: none;
}

a:hover{
    text-decoration: underline dashed;
}

nav {
    display: block;
}

#navbar ul {
    padding: 3px;
    font-size: small;
    background-color: rgb(70, 39, 95);
    display: flex;
    margin: 0;
    list-style-type: none;
    justify-content: space-evenly;
}

#mainDiv {
    padding-top: 30px;
    padding-bottom: 10px;
    display: grid;
    justify-content: center;
    background: rgb(57, 48, 72);
}

#container {
    margin-left: 35%;
    margin-right: 35%;
}

#header {
    height: 150px;
    background: url(mainAssets/purplerosesblkbg.gif);
    background-repeat: repeat;
}