@font-face {
    font-family: ADDSBP__;
    src: url(../assets/ADDSBP__.TTF);
}

html{
    cursor: url(../assets/cursor.cur), auto;
    min-height: 100%;
    height: 100%;
}

body {
    cursor: url(../assets/cursor.cur), auto;
    background: url(../assets/mainAssets/stars.gif);
    color: white;
    font-size: x-large;
    font-family: ADDSBP__;
    text-shadow: 3px 3px black;
}

a{
    text-decoration: none;
    color: inherit;
}

a:visited{
    color: inherit;
    text-decoration: none;
}

a:hover{
    text-decoration: underline dashed;
}

nav {
    display: block;
}

#navbar ul {
    padding: 3px;
    font-size: small;
    background-color: rgb(70, 39, 95);
    display: flex;
    margin: 0;
    list-style-type: none;
    justify-content: space-evenly;
}

#mainDiv {
    padding: 20px;
    display: grid;
    justify-content: center;
    background: rgb(57, 48, 72);
}

#flexDiv {
    display: flex;
}

#leftBar {
    max-width: 15%;
    max-height: inherit;
    word-wrap: break-word;
    background: url(../assets/mainAssets/flowers.jpg);
    padding: 10px;
}

#rightBar {
    max-width: 15%;
    word-wrap: break-word;
    background-color: rgb(80, 45, 107);
    background: url(../assets/mainAssets/flowers.jpg);
    padding: 10px;
}

.bars{
    text-align: center;
    font-size: medium;
}

#container {
    margin-left: 25%;
    margin-right: 25%;
}

#header {
    height: 150px;
    background: url(../assets/mainAssets/purplerosesblkbg.gif);
    background-repeat: repeat;
}