/* thank you to the person who made 98.css, true lifesaver, check them out at https://jdan.github.io/98.css/ while im not using his whole library (just the scrollbar) I still thought I should credit him*/
:root {

  /* Color */
  --text-color: #222222;
  --surface: #c0c0c0;
  --button-highlight: #ffffff;
  --button-face: #dfdfdf;
  --button-shadow: #808080;
  --window-frame: #0a0a0a;
  --dialog-blue: #000080;
  --dialog-blue-light: #1084d0;
  --dialog-gray: #808080;
  --dialog-gray-light: #b5b5b5;
  --link-blue: #0000ff;

  /* Spacing */
  --element-spacing: 8px;
  --grouped-button-spacing: 4px;
  --grouped-element-spacing: 6px;
  --radio-width: 12px;
  --checkbox-width: 13px;
  --radio-label-spacing: 6px;
  --range-track-height: 4px;
  --range-spacing: 10px;

  /* Some detailed computations for radio buttons and checkboxes */
  --radio-total-width-precalc: var(--radio-width) + var(--radio-label-spacing);
  --radio-total-width: calc(var(--radio-total-width-precalc));
  --radio-left: calc(-1 * var(--radio-total-width-precalc));
  --radio-dot-width: 4px;
  --radio-dot-top: calc(var(--radio-width) / 2 - var(--radio-dot-width) / 2);
  --radio-dot-left: calc(-1 * (var(--radio-total-width-precalc)) + var(--radio-width) / 2 - var(--radio-dot-width) / 2);

  --checkbox-total-width-precalc: var(--checkbox-width) + var(--radio-label-spacing);
  --checkbox-total-width: calc(var(--checkbox-total-width-precalc));
  --checkbox-left: calc(-1 * var(--checkbox-total-width-precalc));
  --checkmark-width: 7px;
  --checkmark-top: 3px;
  --checkmark-left: 3px;

  /* Borders */
  --border-width: 1px;
  --border-raised-outer: inset -1px -1px var(--window-frame),
    inset 1px 1px var(--button-highlight);
  --border-raised-inner: inset -2px -2px var(--button-shadow),
    inset 2px 2px var(--button-face);
  --border-sunken-outer: inset -1px -1px var(--button-highlight),
    inset 1px 1px var(--window-frame);
  --border-sunken-inner: inset -2px -2px var(--button-face),
    inset 2px 2px var(--button-shadow);

  /* Window borders flip button-face and button-highlight */
  --border-window-outer: inset -1px -1px var(--window-frame),
    inset 1px 1px var(--button-face);
  --border-window-inner: inset -2px -2px var(--button-shadow),
    inset 2px 2px var(--button-highlight);

  /* Field borders (checkbox, input, etc) flip window-frame and button-shadow */
  --border-field: inset -1px -1px var(--button-highlight),
    inset 1px 1px var(--button-shadow), inset -2px -2px var(--button-face),
    inset 2px 2px var(--window-frame);

  /* Tabs */
  --border-tab: inset -1px 0 var(--window-frame),
    inset 1px 1px var(--button-face),
    inset -2px 0 var(--button-shadow),
    inset 2px 2px var(--button-highlight)
}

.window {
  box-shadow: var(--border-window-outer), var(--border-window-inner);
  background: rgb(180, 111, 111);
  padding: 3px;
}

.title-bar {
  background: linear-gradient(90deg,
      var(--dialog-blue),
      var(--dialog-blue-light));
  padding: 3px 2px 3px 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-bar.inactive {
  background: linear-gradient(90deg,
      var(--dialog-gray),
      var(--dialog-gray-light));
}

.title-bar-text {
  font-weight: bold;
  color: white;
  letter-spacing: 0;
  margin-right: 24px;
}

.title-bar-controls {
  display: flex;
}

.title-bar-controls button {
  padding: 0;
  display: block;
  min-width: 16px;
  min-height: 14px;
}

.title-bar-controls button:active {
  padding: 0;
}

.title-bar-controls button:focus {
  outline: none;
}

.title-bar-controls button[aria-label="Minimize"] {
  background-image: svg-load("./icon/minimize.svg");
  background-repeat: no-repeat;
  background-position: bottom 3px left 4px;
}

.title-bar-controls button[aria-label="Maximize"] {
  background-image: svg-load("./icon/maximize.svg");
  background-repeat: no-repeat;
  background-position: top 2px left 3px;
}

.title-bar-controls button[aria-label="Restore"] {
  background-image: svg-load("./icon/restore.svg");
  background-repeat: no-repeat;
  background-position: top 2px left 3px;
}

.title-bar-controls button[aria-label="Help"] {
  background-image: svg-load("./icon/help.svg");
  background-repeat: no-repeat;
  background-position: top 2px left 5px;
}

.title-bar-controls button[aria-label="Close"] {
  margin-left: 2px;
  background-image: svg-load("./icon/close.svg");
  background-repeat: no-repeat;
  background-position: top 3px left 4px;
}

.status-bar {
  margin: 0px 1px;
  display: flex;
  gap: 1px;
}

.status-bar-field {
  box-shadow: inset -1px -1px #dfdfdf, inset 1px 1px #808080;
  flex-grow: 1;
  padding: 2px 3px;
  margin: 0;
}

.window-body {
  margin: var(--element-spacing);
}


::-webkit-scrollbar {
  width: 16px
}

::-webkit-scrollbar:horizontal {
  height: 17px
}

::-webkit-scrollbar-corner {
  background: #dfdfdf
}

::-webkit-scrollbar-track {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='2' height='2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 0H0v1h1v1h1V1H1V0z' fill='silver'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 0H1v1H0v1h1V1h1V0z' fill='%23fff'/%3E%3C/svg%3E")
}

::-webkit-scrollbar-thumb {
  background-color: #dfdfdf;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf
}

::-webkit-scrollbar-button:horizontal:end:increment,
::-webkit-scrollbar-button:horizontal:start:decrement,
::-webkit-scrollbar-button:vertical:end:increment,
::-webkit-scrollbar-button:vertical:start:decrement {
  display: block
}

::-webkit-scrollbar-button:vertical:start {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 0H0v16h1V1h14V0z' fill='%23DFDFDF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 1H1v14h1V2h12V1H2z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 17H0v-1h15V0h1v17z' fill='%23000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 1h-1v14H1v1h14V1z' fill='gray'/%3E%3Cpath fill='silver' d='M2 2h12v13H2z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 6H7v1H6v1H5v1H4v1h7V9h-1V8H9V7H8V6z' fill='%23000'/%3E%3C/svg%3E");
  height: 17px
}

::-webkit-scrollbar-button:vertical:end {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 0H0v16h1V1h14V0z' fill='%23DFDFDF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 1H1v14h1V2h12V1H2z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 17H0v-1h15V0h1v17z' fill='%23000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 1h-1v14H1v1h14V1z' fill='gray'/%3E%3Cpath fill='silver' d='M2 2h12v13H2z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 6H4v1h1v1h1v1h1v1h1V9h1V8h1V7h1V6z' fill='%23000'/%3E%3C/svg%3E");
  height: 17px
}

::-webkit-scrollbar-button:horizontal:start {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 0H0v16h1V1h14V0z' fill='%23DFDFDF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 1H1v14h1V2h12V1H2z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 17H0v-1h15V0h1v17z' fill='%23000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 1h-1v14H1v1h14V1z' fill='gray'/%3E%3Cpath fill='silver' d='M2 2h12v13H2z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 4H8v1H7v1H6v1H5v1h1v1h1v1h1v1h1V4z' fill='%23000'/%3E%3C/svg%3E");
  width: 16px
}

::-webkit-scrollbar-button:horizontal:end {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 0H0v16h1V1h14V0z' fill='%23DFDFDF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 1H1v14h1V2h12V1H2z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 17H0v-1h15V0h1v17z' fill='%23000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 1h-1v14H1v1h14V1z' fill='gray'/%3E%3Cpath fill='silver' d='M2 2h12v13H2z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 4H6v7h1v-1h1V9h1V8h1V7H9V6H8V5H7V4z' fill='%23000'/%3E%3C/svg%3E");
  width: 16px
}

.window {
  box-shadow: var(--border-window-outer), var(--border-window-inner);
  background: #b8b8b8;
  padding: 3px;
}

.title-bar {
  background: linear-gradient(90deg, var(--dialog-blue),
      var(--dialog-blue-light));
  padding: 3px 2px 3px 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-bar.inactive {
  background: linear-gradient(90deg,
      var(--dialog-gray),
      var(--dialog-gray-light));
}

.title-bar-text {
  font-weight: bold;
  color: white;
  letter-spacing: 0;
  margin-right: 24px;
}

.title-bar-controls {
  display: flex;
}

.title-bar-controls button {
  padding: 0;
  display: block;
  min-width: 16px;
  min-height: 14px;
}

.title-bar-controls button:active {
  padding: 0;
}

.title-bar-controls button:focus {
  outline: none;
}

.title-bar-controls button[aria-label="Minimize"] {
  background-image: svg-load("./icon/minimize.svg");
  background-repeat: no-repeat;
  background-position: bottom 3px left 4px;
}

.title-bar-controls button[aria-label="Maximize"] {
  background-image: svg-load("./icon/maximize.svg");
  background-repeat: no-repeat;
  background-position: top 2px left 3px;
}

.title-bar-controls button[aria-label="Restore"] {
  background-image: svg-load("./icon/restore.svg");
  background-repeat: no-repeat;
  background-position: top 2px left 3px;
}

.title-bar-controls button[aria-label="Help"] {
  background-image: svg-load("./icon/help.svg");
  background-repeat: no-repeat;
  background-position: top 2px left 5px;
}

.title-bar-controls button[aria-label="Close"] {
  margin-left: 2px;
  background-image: svg-load("./icon/close.svg");
  background-repeat: no-repeat;
  background-position: top 3px left 4px;
}

.status-bar {
  margin: 0px 1px;
  display: flex;
  gap: 1px;
}

.status-bar-field {
  box-shadow: inset -1px -1px #dfdfdf, inset 1px 1px #808080;
  flex-grow: 1;
  padding: 2px 3px;
  margin: 0;
}

.window-body {
  margin: var(--element-spacing);
}

/* end of 98.css */

@font-face {
  font-family: ADDSBP__;
  src: url(../assets/ADDSBP__.TTF);
}

footer {
  margin-bottom: 15px;
  padding: 6px;
  text-align: center;
  background-color: #372449;
  font-size: 0.6vw;
  border: #372449 2px groove;
}

footer > a {
  background-color: #333333; padding: 3px; border:ridge 1px white;
}

hr {
  border: 1px #503f5c;
  border-style:dashed;
}

ul {
  padding: 10px;
  font-size: small;
  display: flex;
  margin: 0;
  list-style-type: none;
  justify-content: space-evenly;
}

ul .buttons {
  border: 2px outset rgb(67, 41, 82);
  padding: 8px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: small;
  background-color: #5e3070;
  display: flex;
  margin: 0;
  list-style-type: none;
  justify-content: space-evenly;
}

html {
  cursor: url(../assets/cursor.cur), default !important;  
  height: 100%;
}

body {
  cursor: url(../assets/cursor.cur), auto;
  background: url(../assets/mainAssets/stars.gif);
  color: #ede5f1;
  margin: 0;
  min-height: 100%;
  font-weight: 400;
  font-family: ADDSBP__;
  text-shadow: 3px 4px rgb(17, 0, 32);
  word-wrap: normal;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: url(../assets/cursor.cur), auto;
}

a:visited {
  color: inherit;
  text-decoration: none;
  cursor: url(../assets/cursor.cur), auto;
}

a:hover {
  text-decoration: underline dashed;
  cursor: url(../assets/cursor.cur), auto;
}

nav {
  display: block;
}

#navbar ul {
  border: 2px outset rgb(67, 41, 82);
  padding: 8px;
  word-wrap: normal;
  font-size: 0.7vw;
  background-color: rgb(70, 39, 95);
  display: flex;
  margin: 0;
  list-style-type: none;
  justify-content: space-evenly;
}

#mainDiv {
  padding-top: 2vw !important;
  line-height: 1vw;
  font-size: 1vw;
  padding: 20px;
  text-align: center;
  background: url(/assets/mainAssets/purplesatinbg.gif);
  background-blend-mode: color-dodge;
  background-color: #1c0e1f;
}

#flexDiv {
  display: flex;
  img{width: 5vw; height: auto;};  
  gap: 2px;
}


#griddy {
  display: flex;
}

#leftBar {
  line-height: 1vw;
  font-size: 0.8vw;
  width: 28vw;
  /* word-wrap: break-word; */
  background: url(../assets/mainAssets/stars2.gif);
  background-color: #1c0e1f;
  background-blend-mode:color-dodge;
  padding: 10px;
  display: block;
  border: #251429 3px ridge;
}

#rightBar {
  line-height: 1vw;
  font-size: 0.8vw;
  width: 28vw;
  /* word-wrap: break-word; */
  background-color: rgb(80, 45, 107);
  background: url(../assets/mainAssets/stars2.gif);
  background-color: #1c0e1f;
  background-blend-mode:color-dodge;
  padding: 10px;
  display: block;  
  border: #251429 3px ridge;
}

.bars {
  text-align: center;
  font-size: 1vw;
}

#container {
  margin-left: 25%;
  margin-right: 25%;
}

#header {
  height: 150px;
  background: url(../assets/mainAssets/purplerosesblkbg.gif);
  background-repeat: repeat;
  padding-top: 20px;
}

#box {
  display: flex;
  width: 100%;
  padding-bottom: 15px;
  gap: 15px;
}

#musicbox {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-image: url(../assets/mainAssets/musicBg.png);
}

#games {
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding-bottom: 19px;
  width: 50%;
  background: url(../assets/mainAssets/purplebackground.png);
}

#webmaster {
  color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: url(../assets/mainAssets/flowerzdark.png);
  font-family: 'Courier New', Courier, monospace;
}

#tablist {
  background: rgb(57, 48, 72);
}

#tabsPanels {
  padding: 15px;
  margin: 15px;
  font-size: medium;
}

#tabsPanels div {
  padding: 15px;
}

#ahriMessage {
  width: 20vw;
  margin: 0 auto;
  background-image: url(/assets/mainAssets/ahriMessageBg.png);
  text-align: center;
}

#fourchanWarning {
  width: 20vw;
  margin: 0 auto;
  text-align: center;
  background-image: url(/assets/mainAssets/fourChanBg.png);
}

#memerButton > .title {
  background-color: #0a332a;
  border-color: #263a32;
}

#memerButton {
  width: 30vw;
  margin: 0 auto;
  text-align: center;
  background: url(/assets/mainAssets/memerButtonBg.jpg);
}

#statuscafe {
  padding: .5em;
  background-color: #3c5753;
  border: 4px dashed #263a32;
}
#statuscafe-username {
  margin-bottom: .5em;
}
#statuscafe-content {
  margin: 0 1em 0.5em 1em;
}

.title {
  border: 2px outset rgb(67, 41, 82);
  background-color: rgb(70, 39, 95);
  color: white;
  font-size: 12px;
  font-weight: 400;
  padding: 5px;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.5);
}

.x {
  float: right;
  display: flex;
  align-items: center;
}

#x-special {
  top: 2px;
  float: right;
  position: relative;
}

.text {
  padding: 15px;
  font-size: 0.9vw;
}

.cbox {
  width: 230px;
  left: 2%;
  position: fixed;
  bottom: 0;
}


.titleStatus {
  background-color: #114740;
  border: 2px outset #0a332a;
  color: white;
  font-size: 12px;
  font-weight: 400;
  padding: 5px;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.5);
}

.league {
  background-color: rgb(116, 91, 31);
  border: 2px outset rgb(155, 106, 32);
  color: white;
  font-size: 12px;
  font-weight: 400;
  padding: 5px;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.5);
}