@font-face {
    font-family: 'Magica';
    src: url(https://static.tumblr.com/p6yopnt/Qkiqnu0r5/theheart.ttf);     
}

a{
    text-decoration: none;
    color: inherit;
    cursor: url(../cursor.cur), default !important;
}

a:visited{
    color: inherit;
    text-decoration: none;
}

a:hover{
    text-decoration: underline dashed;
}

html, body {
    margin: 0;
    padding: 0;
}

hr {
    background-color: rgba(104, 12, 23, 0.5);
    background-image: url(divider.jpg);
    background-blend-mode:darken;
    height: 30px;
    border: none;
}

body {
    background: url(tempUntilISayOtherwise.gif);
    background-blend-mode: overlay;
    background-color: rgb(71, 52, 57);
    font-family: 'Magica';
    color: rgb(255, 223, 233);
    font-size: 2vw;
}

#cLogContainer {
    padding: 120px;
}

#cLogContainer > ul {
    padding: 20px;
    border: 6px rosybrown solid;
    background-color: rgba(107, 68, 68, 0.5);
    padding-left: 75px;
    border-radius: 12px;
}