* {
    font-family: ms ui gothic;
}
body {
    background: url(./bg.jpg);
    background-size: 8%;
}

button {
    background-color: #d6abdf;
    
}

.slice {
    aspect-ratio: 1/.5;
    width: 5rem;
    font-size: 1em;
}

#lighter {
    color:  #f2b2ff;
    font-style: italic;
    font-size: 5rem;
}

#darker {
    color: #a593da;
    font-style: italic;
    font-size: 5rem;
}