@font-face {
	font-family: jetBrainsMono;
	src: url(../VSRGassets/JetBrainsMono-Regular.ttf);
}

*::-webkit-scrollbar {
	width: 0 !important;
	height: 0 !important;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-y: hidden;
	overflow-x: scroll !important;
	color: rgb(0, 0, 0);
}

html, body {
	min-height: 100vh;
	min-width: 220vw;
	box-shadow: 0 0 200px rgb(0, 0, 0) inset;
}

body {
	font-family: jetBrainsMono;
	background: url(/assets/VSRGassets/yellowstar.gif);
	text-shadow: 3px 3px rgb(255, 255, 255);
	/* overflow-y: hidden; */
}

tr {
	vertical-align: top;
}

.title {
	border: 2px outset rgb(255, 255, 255);
	background-color: rgb(231, 231, 231);
	padding-bottom: .6vw !important;
	font-size: 0.6vw;
	font-weight: 400;
	padding: .3vw;
	box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.5);
}

.friendInsideMe {
	padding: 10px;
	background-color: whitesmoke;
	border: 2px outset;
	border-top: 0;
}

#page-wrap {
	position: absolute;
	height: fit-content;
	top: 50%;
	transform: translateY(-50%);
}

.post {
	width: 500px;
}